@media (min-width: 760px) {
  body {
    background-color: #b38a6f;
  }
  .about-path .me-pic {
    position: absolute;
    top: 5vmax;
    right: 2%;
    width: auto;
    height: 40vw;
  }
  .about-path .img-path {
    width: 100%;
    top: 2vmax;
    position: absolute;
  }
  .things-me {
    position: absolute;
    top: 9%;
  }
}

@media (max-width: 768px) {
  body {
    background-color: #9775a1;
  }
  .about-path {
    margin-top: 15%;
  }
  .about-path .me-pic {
    position: absolute;
    height: auto;
    max-width: 37vw;
    right: 5%;
    margin-top: 12%;
  }
  .about-path .mobile-path {
    position: relative;
    max-width: 100%;
    margin-top: 12%;
    z-index: 100;
  }
  .words {
    position: relative;
    margin-top: -288vw;
    margin-left: -10% !important;
  }
  .words .animated-text {
    font-size: 3vw !important;
  }
  .information {
    position: relative;
    margin-top: 6%;
  }
  .information .darker {
    position: relative;
    left: 2.5%;
    margin-top: 0 !important;
    z-index: 110;
  }
  .information #text {
    margin-top: 10\% !important;
  }
  .information #text p {
    font-size: 2.5vw !important;
    line-height: 3vw !important;
    width: 98% !important;
  }
  .information .vic {
    width: 70vw !important;
    margin-left: 15vw !important;
    margin-top: 6%;
  }
  .information .things-me {
    margin-top: -2% !important;
  }
  .information h4 {
    font-size: 3vw !important;
    text-align: center;
  }
  footer {
    position: relative;
    margin-top: 18%;
    z-index: 200;
  }
}

.animated-text {
  position: relative;
  margin-top: 2.5%;
  z-index: 500;
}

.animated-text ul {
  list-style: none;
}

.animated-text ul li {
  font-family: 'Architects Daughter', cursive;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: 2px 2px 10px #070707;
  font-weight: 800;
  margin-left: 0.3vw;
}

.words .first-word {
  margin-top: 19vw;
  font-size: 2vw;
  color: #ebbffa;
  margin-left: 4%;
  -webkit-transition: all 1s ease 1s;
  transition: all 1s ease 1s;
}

.words .second-word {
  font-size: 2vw;
  color: #b1fad2;
  margin-left: 9%;
  -webkit-transition: all 1s ease 1.5s;
  transition: all 1s ease 1.5s;
}

.words .third-word {
  font-size: 2vw;
  color: #faf9bf;
  margin-left: 14%;
  -webkit-transition: all 1s ease 2s;
  transition: all 1s ease 2s;
}

.words .fourth-word {
  font-size: 2vw;
  color: #fab1b5;
  margin-left: 19%;
  -webkit-transition: all 1s ease 2.5s;
  transition: all 1s ease 2.5s;
}

.bg-darker {
  position: relative;
  margin-top: 5%;
}

.bg-darker .darker {
  max-width: 95%;
  height: auto;
  margin: 0 auto;
}

.bg-darker #text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 8%;
  width: 90%;
  height: 100%;
  z-index: 1000;
  color: #fcdff5f8;
}

.bg-darker #text p {
  padding: 2%;
  text-indent: 5%;
  margin: 0 auto;
  font-size: 1.4vw;
  width: 90%;
  letter-spacing: 0.2vw;
  line-height: 2vw;
  text-shadow: 2px 2px 10px black;
  font-weight: 500;
}

.about-me {
  position: relative;
  z-index: 100;
}

.about-me .bg-small {
  position: relative;
}

.about-me .bg-small .small {
  float: right;
  margin-top: 2%;
  margin-right: 8%;
  max-width: 48%;
  height: auto;
}

.about-me .things-me {
  right: 13%;
  color: #e2d1c0;
  text-align: justify;
  font-weight: 700;
  text-shadow: 3px 3px black;
  text-transform: uppercase;
}

.about-me .things-me .colored {
  text-shadow: 2px 2px #020202;
  margin-top: 1%;
  color: #debafd;
  font-family: 'Gochi Hand', cursive;
  letter-spacing: 0.1vw;
  text-transform: initial;
}

.about-me .things-me h4 {
  margin-top: 5%;
  font-size: 1.3vw;
}

.about-me .vic {
  width: 30%;
  height: auto;
  border-radius: 500px;
  margin-left: 10%;
  border: solid 0.1vw black;
}

.attribution {
  position: relative;
  margin-top: 10vw;
}
/*# sourceMappingURL=about-me.css.map */