@media (min-width: 760px) {
    body {
        background-color: #b38a6f;
     }
     .about-path {
      .me-pic {
          position: absolute;
          top: 5vmax;
          right: 2%;
          width: auto;
          height: 40vw;
      }
      .img-path {
          width: 100%;
          top: 2vmax;
          position: absolute;
      }
  }
}   

@media (max-width: 768px) {
    body {
        background-color: rgb(151, 117, 161);
    }
    .about-path {
      margin-top: 15%;
        .me-pic {
          position: absolute;
            height: auto;
            max-width: 37vw;
            right: 5%;
            margin-top: 12%;
        }
        .mobile-path {
          position: relative;
          max-width: 100%;
          margin-top: 12%;
          z-index: 100;
        }
    }
    .words {
      position: relative;
      margin-left: 3%;
      margin-top: -290vw;
      .animated-text {
        font-size: 3vw!important;
      }
    }
    .information {
      position: relative;
      margin-top: 6%;
      .darker {
        position: relative;
        left: 2.5%;
        z-index: 110;
      }
      #text {
        margin-top: 12%!important;
        p {
          font-size: 2.5vw!important;
          line-height: 3vw!important;
          width: 98%!important;
        }
      }
      .vic {
        width: 70vw!important;
        margin-left: 15vw!important;
        margin-top: 8%;
      }
      h4 {
        font-size: 3vw!important;
        text-align: center;
      }
    }
    footer {
      position: relative;
      margin-top: 20%;
      z-index: 200;
    }
}


.animated-text {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
  }
  .animated-text ul {
      margin: 0;
      padding: 0;
      list-style: none;
   }
  .animated-text ul li {
      font-family:  'Architects Daughter', cursive;
      display: inline-block;
      text-transform: uppercase;
      text-shadow: 2px 2px 10px rgb(7, 7, 7);
      font-weight: 800;
      margin-left: 0.3vw;
    }
  .animated-text.hidden-text ul li {
    opacity: 0;
  }
  .animated-text.hidden-text ul li:nth-child(1) {
      transform: translate(-200px, -180px);
    }
  .animated-text.hidden-text ul li:nth-child(2) {
      transform: translate(100px, 180px);
    }
  .animated-text.hidden-text ul li:nth-child(3) {
      transform: translate(250px, 50px)
    }
  .animated-text.hidden-text ul li:nth-child(4) {
      transform: translate(-80px, -100px)
    }
  .animated-text.hidden-text ul li:nth-child(5) {
      transform: translate(200px, -180px)
    }
  .animated-text.hidden-text ul li:nth-child(6) {
      transform: translate(10px, -80px)
    }
  .animated-text.hidden-text ul li:nth-child(7) {
      transform: translate(-250px, 70px)
    }
  .animated-text.hidden-text ul li:nth-child(8) {
      transform: translate(-240px, 140px)
    }
  .animated-text.hidden-text ul li:nth-child(9) {
      transform: translate(290px, -100px)
    }
  .animated-text.hidden-text ul li:nth-child(10) {
      transform: translate(60px, -170px)
    }
   .animated-text.hidden-text ul li:nth-child(11) {
      transform: translate(190px, -20px)
    }
   .animated-text.hidden-text ul li:nth-child(12) {
      transform: translate(-200px, -180px)
    }
  .words {
    .first-word {
      margin-top: 18vw;
      font-size: 2vw;
      color: #ebbffa;
      transition: all 2.5s ease 0s;
      ul li:first-child {
          margin-left: 4%;
        }
    }
    .second-word {
      font-size: 2vw;
      color: rgb(177, 250, 210);
      transition: all 1s ease 2s;
      ul li:first-child {
          margin-left: 9%;
          margin-top: 5%;
        }
    }
    .third-word {
      font-size: 2vw;
      color: #faf9bf;
      transition: all 2.5s ease 0s;
      ul li:first-child {
          margin-left: 14%;
          margin-top: 0;
        }
    }
    .fourth-word {
      font-size: 2vw;
      color: rgb(250, 177, 181);
      transition: all 1s ease 2s;
      ul li:first-child {
          margin-left: 19%;
          margin-top: 5%;
        }
    }
  }

  .bg-darker {
    position: relative;
    margin-top: 1%;
    .darker {
      max-width: 95%;
      height: auto;
      margin: 0 auto;
    }
    #text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: 8%;
      width: 90%;
      height: 100%;
      z-index: 1000;
      color: #fcdff5f8;
      p {
        padding: 2%;
        text-indent: 5%;
        margin: 0 auto;
        font-size: 1.4vw;
        width: 90%;
        font-family: 'Amiri', serif;
        letter-spacing: 0.2vw;
        line-height: 2vw;
        text-shadow: 2px 2px 10px black;
        font-weight: 500;
      }
    }
  }
  .about-me {
    position: relative;
    z-index: 100;
    .things-me {
      margin-top: 6.2%;
      float: right;
      color: white;
      margin-right: 10%;
      text-align: justify;
      .colored {
        margin-top: 1%;
        color: rgba(253, 224, 224, 0.868);
        font-family: 'Architects Daughter', cursive;
        letter-spacing: 0.1vw;

      }
      h4 {
        margin-top: 5%;
        font-size: 1.3vw;
      }
    }
    .vic {
      width: 30%;
      height: auto;
      border-radius: 500px;
      margin-left: 10%;
      border: solid 0.1vw rgb(0, 0, 0);
    }
  }

  .attribution {
    position: relative;
    margin-top: 8.5vw;
  }
  

   
