:root {
	--body-bg: #6f4637;
	--page-bg: #281b16;
	--dark-text: #ffffff;
	--book-title: 'Architects Daughter', cursive;
    --title: 'Amiri', serif;
    --body: 'Amiri', serif;
}

body {
	background-color: var(--body-bg);
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .background-color {
	  position: relative;
	  .background {
		position: absolute;
		opacity: 0.5;
		background-image: url(imagini/wood2.jpg);
		width: 100%;
		height: 100%;
	}
  }
.attribution {
	position: relative;
	margin-top: 60vw;
}
@media (min-width: 760px) {
	.bookWrapper {
		margin-top: 10%;
		width: 72vw;
		height: 42vw;
		z-index: 1000;
	  }
	  .bookBg {
		position:relative;
		background-color: #3a2c21;
		width:100%;
		height:100%;
		border-radius: 7px;  
	  }
	  .pageBg {
		position:absolute;
		left:50%;
		top:50%;
		background-color: var(--page-bg);
		width: 70vw; 
		height: 40vw ;
		border-radius: 1px;
		cursor: pointer;
	  }
	  /*.spineCenter {
		width:46px; 
		height: 42vw;
		border-radius: 0px;
		background:rgba(7, 7, 7, 0.4);
	  }*/
	  .cover-photo {
		  position: absolute;
		  width: 50%;
		  height: 40vw ;
		.img-fluid {
			width: 100%;
			height: 100%;
			border-right: solid 2px black;
		}
	  }
	  .pageWrapper {
		position: absolute;
		background-color: var(--page-bg);
		left: 51.5%;
		width: 50%;
		height: 40vw;
		-webkit-font-smoothing: subpixel-antialiased;
	  }
	  .page {
		position: absolute;
		width: 100%;
		height: 100%;
		color: rgba(250, 223, 198, 0.882);
		font-family: var(--title);
		letter-spacing: 0.05vw;
		.pageFace {
			position:absolute;
			width: 100%;
			height: 40vw;
			overflow:hidden;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-content: center;
			justify-content: center;
			align-items: center;
			font-size: 1vw;
		}
		.contents {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			.page-title {
				margin: 10% auto;
			}
			.content-table {
				margin-top: 5%;
				margin-left: 5%;
				text-transform: uppercase;
			}
		}
		.book-title {
			font-family: var(--book-title);
			text-transform: uppercase;
			letter-spacing: 3px;
			color: var(--dark-text);
		}
		.page-author {
			font-family: var(--title);
			font-size: 1.2em;
			border-top: 1px solid var(--dark-text);
			border-bottom: 1px solid var(--dark-text);
			display: inline-block;
			padding: 1.5%;
			margin-top: 4%;
		  }
		.page-title {
			color: rgba(255, 255, 255, 0.876);
			font-weight: 700;
			margin-bottom: 5%;
			text-transform: uppercase;
			font-size: 1.1vw;
		}
		.end-text {
			margin-top: 0 !important;
		}
	
	}
	  .front, .back {
		  background-color: var(--page-bg);
	  }
	  
}
@media (max-width: 760px) {
	body {
		background-color: #441a2b;
	}
	.bookWrapper {
		position: relative;
		width: 94%;
		height: auto;
		margin-top: 24.5%;
		background-color: rgba(0, 0, 0, 0.657);
	}
	.pageBg {
		width: 100%;
		transform: translate(0) !important;
	}
	.book-title {
		color: white;
		font-family: var(--book-title);
		font-size: 9vw;
		letter-spacing: 1vw;
	}
	.page-author {
		width: 70%;
		padding: 1%;
		padding-bottom: 6%;
		margin: 0 auto;
		font-size: 5vw;
		border-bottom: 1px solid rgb(250, 250, 250);
		font-family: var(--title);
	}
	.page-title {
		color: white;
		font-size: 6vw;
		width: 76%;
		margin: 4% auto;
	}
	.pageWrapper {
		text-align: center;
		font-size: 3vw;
		color: rgba(241, 224, 250, 0.89);
		font-family: var(--title);
		letter-spacing: 0.05vw;
		#page1 {
			display: flex;
			flex-direction: column;
			width: 96%;
			margin-bottom: 3%;
			margin-top: -8%;
			order: 1;
		}
		#page2 {
			display: flex;
			flex-direction: column;
			width: 96%;
			order: 2;
		}
		#page3 {
			display: flex;
			flex-direction: column;
			width: 96%;
			order: 3;
		}
		#page4 {
			display: flex;
			flex-direction: column;
			width: 96%;
			order: 4;
		}
		#page5 {
			display: flex;
			flex-direction: column;
			width: 96%;
			order: 5;
		}
		#page6 {
			display: flex;
			flex-direction: column;
			width: 96%;
			order: 6;
		}
		#page7 {
			display: flex;
			flex-direction: column;
			width: 96%;
			order: 7;
		}
		#page8 {
			display: flex;
			flex-direction: column;
			width: 96%;
			order: 8;
		}
		#page9 {
			display: flex;
			flex-direction: column;
			width: 96%;
			order: 9;
		}
		#page10 {
			display: flex;
			flex-direction: column;
			width: 96%;
			margin-top: -30%;
			order: 10;
		}
		.pageFace {
			padding-top: 20%;
		}
	}
	.back, .front {
		visibility: visible !important;
	}
	.back {
		transform: rotateY(0) !important;
	}
	.attribution {
		margin-top: 6vmin;
		font-size: 2vw !important;
	}
}